# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/_material
/.idea

# End of https://www.gitignore.io/api/webstorm
yarn.lock

.vscode/

demo-websocket-server/node_modules
demo-websocket-atividade-pratica-calculadora/node_modules
